@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    color: white;
    background-color: black;
    height: 150px;
    text-align: center;
    padding-top: 50px;
}

header h1 {
    font-family: 'Passion One', Arial, Helvetica, sans-serif;
    font-size: 4em;
}

main {
    background-color: white;
    font-family: 'Sriracha', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-top: 40px;
}

main p {
    padding: 20px;
    line-height: 2.3em;
    font-weight: bold;
}

.branco {
    background-color: white;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
}